
venv/
*.pyc

src/hdx_scraper_insecurity_insight.egg-info/
src/hdx_scraper_insecurity_insight/output-spreadsheets/
src/hdx_scraper_insecurity_insight/legacy-dataset-json/

.coverage

cov.xml

tests/fixtures/test.csv

logs/

src/hdx_scraper_insecurity_insight/old-output-spreadsheets/

src/hdx_scraper_insecurity_insight/temp/

src/hdx_scraper_insecurity_insight/temp/

src/hdx_scraper_insecurity_insight/old-output-spreadsheets/

tests/temp/*.xlsx

.idea/

.DS_Store
